.main-wrap {
  display: flex;
  flex-direction: column;
}
.main-card-ul {
    display: flex;
}
.main-card-ul li{
    width: 20rem;
    height: 15rem;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.main-card-title { 
  width: 100%;
  background: #1e1e1e; 
  border-radius: 12px; 
  padding: 20px;              
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.12),
             0 10px 20px rgba(0, 0, 0, 0.08);
}
.main-card-title h2 {
  color : rgba(255,255,255,0.87);;
}
.main-card-content { 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition  : 0.2s ease, box-shadow 0.3s ease;
}

.main-card-title-w { 
  width: 100%;
  background: #725a5a; 
  border-radius: 12px; 
  padding: 20px;              
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.12),
             0 10px 20px rgba(0, 0, 0, 0.08);
}
.main-card-title-w h2 {
  color : rgba(255,255,255,0.87);;
}
.main-card-content-w { 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition  : 0.2s ease, box-shadow 0.3s ease;
}


.main-card {
  width: 20rem;
  height: 15rem;
  background: #151515;
  border-radius: 14px;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
                0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.main-card:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow:
    0 8px 20px rgba(0,0,0,0.35),
    0 12px 40px rgba(0,0,0,0.25);
}

.online-list {
    width: 15rem;
    padding-left: 5px;
}
.online-title {
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.online-users{
  display: flex;
  flex-direction: column;
}
.online-li {
  width: 100%;
  padding: 0.5rem;
}
.bar{
    width: 1px;
    border: 1px ;
    background-color: gray;
    margin: 1rem;
}

.options {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .main-wrap {
    flex-direction: column;
  }
  .main-card-ul {
    flex-direction: column;
    gap: 0.5rem;
  }
  .main-card-ul li{ 
    height: 10rem;
  }
}