.main__wrap {
  display: flex;
  flex-direction: column;
}
.main__card-ul {
    display: flex;
}
.main__card-ul li{
    width: 20rem;
    height: 15rem;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.main__card-title { 
  width: 100%;
  background: var(--option-btn);
  /* #1e1e1e;  */
  border-radius: 12px; 
  padding: 20px;              
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.12),
             0 10px 20px rgba(0, 0, 0, 0.08);
}
.main__card-title h2 {
  color : rgba(255,255,255,0.87);
}
.main__card-content { 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition  : 0.2s ease, box-shadow 0.3s ease;
}

.main__card-title-w { 
  width: 100%;
  background: #896a6ac2; 
  border-radius: 12px; 
  padding: 20px;              
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.12),
             0 10px 20px rgba(0, 0, 0, 0.08);
}
.main__card-title-w h2 {
  color : rgba(255,255,255,0.87);;
}

.main__card-li {
  width: 20rem;
  height: 15rem;
  background: #151515;
  border-radius: 14px;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
                0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;  /* 부드러운 변환 효과 추가 */
  
}
.main__card-li:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow:
    0 8px 20px rgba(0,0,0,0.35),
    0 12px 40px rgba(0,0,0,0.25);
}
.main__card-li:hover .main__card-content{
  font-weight: bold;  
}

.online-list {
    width: 15rem;
    padding-left: 5px;
}
.online-title {
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.online-users{
  display: flex;
  flex-direction: column;
}
.online-li {
  width: 100%;
  padding: 0.5rem;
}
.bar{
    width: 1px;
    border: 1px ;
    background-color: gray;
    margin: 1rem;
}

.options {
  display: flex;
  justify-content: flex-end;
}

.main__api {
  width: 60rem;
  /* width: 100%; */
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main__api-health {
  width: 22rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1rem;
  /* overflow-x: hidden; */
}
.is-active {
  font-weight: bold;
}
.is-disabled {
  color: #9ca3af; 
  cursor: not-allowed;
  pointer-events: none;    /* 클릭 완전 차단 */
  user-select: none;       /* 텍스트 선택 차단 */
  opacity: 0.25;
  font-weight: normal !important;
}

.notice-wrap {
  width: 100%;
  overflow: hidden;       /* 밖으로 나가면 숨김 */
  background:  var(--notice-bg);
  padding: 8px 0;
  border-radius: 8px;
  overflow-x: hidden;
}
.notice-text {
  padding: 1rem;
  display: inline-block;
  white-space: nowrap;    /* 줄바꿈 방지 */
  color: #fff;
  font-weight: bold;
  animation: noticeMove linear infinite;
  padding-left: 100%; 
}
.notice-text:hover {
  animation-play-state: paused;
}

@keyframes noticeMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .main__wrap {
    flex-direction: column;
  }
  .main__card-ul {
    flex-direction: column;
    gap: 0.5rem;
  }
  .main__card-ul li{ 
    height: 10rem;
  }
  .main__top-layout {
    margin-bottom: 0.5rem;
  }
  .main__api {
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transform: scale(0.9);
    padding: 0;
  }
}