.post-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.post-card {
  border-radius: 10px;  
  background: rgb(21, 21, 21);
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; 
  padding: 5rem;
}
.post-card-id  {
  flex: 1;
}

.post {
  border-bottom: 1px solid #cccccca0;  
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; 
}
.post-id {
  flex: 1;
  padding-right: 1rem;
}
.post-title {
  flex: 8;
  text-align: start;
}
.post-like {
  flex : 1;
}
.post-search {
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  gap: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
              0 8px 16px rgba(0, 0, 0, 0.1);
}
.post-search form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.post-search h2 {
  flex: 1;
}
.post-search-input {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
}
.input-set {
  flex: 7;
  position: relative;
  display: flex ;
}
.post-search form button {
  position: absolute;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-radius: 10px;
  height: 100%;
  bottom: 0;
  right: 0;
}
.post-radios {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post-radios div {
  display: flex;
  gap: 1rem
}

.post-add-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}
.white {
  background: #725a5a;
}
@media (max-width: 768px) {
  .post-search {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
  }
  .input-set {
  width: 100%;
  }
  .input-set input {
    padding: 1rem
  }
  .post-search form{
    flex-direction: column;
  }
  .post {
    padding: 0;
  }
  .post-like {
    flex:2;
  }
}