.post-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.post {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
              0 8px 16px rgba(0, 0, 0, 0.1);
}
.post-id {
  flex: 1;
  padding-right: 1rem;
}
.post-title {
  flex: 8;
  text-align: start;
}
.post-like {
  flex : 1;
}