/* Login Page */
.auth__wrap{
  width: 50rem;
  padding: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;  
}
.auth__notice {
  width: auto;
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 2rem 1rem;
  position: relative;
}
.auth__notice p{
  left: 0;
  top: 0;
  color: red;
  background: #242424;
  border: 1px solid var(--text);
  padding: 0 0.5rem;
  border-radius: 5px;
  position: absolute;
}
.auth__notice h3{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5rem;
  color : rgba(158, 83, 83, 0.74);
}
.auth__wrap Button {
  margin-top: 2rem;
}
.auth__info{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.auth__form{
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: flex-start; */
  gap: 10px;
  padding: 2rem;
}
.auth__form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: scale(0.9);
}
.auth__form Button {
  width: 90%;
}
.auth__field{
  width: 100%;
  text-align: start;
}
.auth__field input {
  width: 100%;
  padding: 1rem;
}
.auth__actions button{
 color: rgba(255,255,255,0.87);
}
.auth__options-menu {
  list-style: none;
  display: flex;
  gap: 0.9rem;
  padding: 0;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
}
.auth__options-menu li {
  display: flex;
  align-items: center ;
  font-size: 14px;
}
.auth__options-menu li:hover {
  text-decoration: underline;
}
.is-point {
  border: 1px solid rgb(87, 87, 219);
  padding: 0.8rem   1rem;
  border-radius: 1rem;
}
.is-point:hover {
  transition: 0.5s;
  cursor: pointer;
  background: rgb(87, 87, 219);
}

/* Join Page */
.red-text {
    color: red;
}
.auth__join-actions {
  height: 100%;
  align-items: flex-end;
  padding: 1rem; 
  }
#auth__join-btn {
    margin: 0;
    border: 1px solid rgb(87, 87, 219);
    width: 5rem;
}

/* Loading Animation */

.loading-text::after {
  content: "";
  animation: dots 1.2s steps(3, end) infinite;
}
@keyframes dots { 
  0%   { content: ""; } 
  33%  { content: "."; }
  66%  { content: ".."; }
  100% { content: "..."; }
}

/* PC (기본) */
@media (min-width: 1024px) {}

/* 태블릿 */
@media (max-width: 1023px) {}

/* 모바일 */
@media (max-width: 768px) {
  .auth__wrap {
    width: 100%;
    margin: 0;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: visible; 
  }
  .auth__join-wrap {
    overflow: scroll;
  }
  .auth__info{
    margin: 0;
    justify-content: flex-end;
  }
  .auth__form{
    flex: 2;
    margin: 0;
    justify-content: left;
    padding: 0 1rem;
  }
  input {
    font-size: 16px;
  }
  .loading {
    padding: 2rem;
  }
  .loading-desc {
    font-size: 14px;
  }
}