.auth-wrap{
  width: 50rem;
  padding: 2rem;
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */

  align-items: stretch;      /* ✅ center 제거 */
  justify-content: flex-start;
  gap: 1rem;  
}
.auth-wrap Button {
  margin-top: 2rem;
}
.auth-wrap-left{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.auth-wrap-right{
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: flex-start; */
  gap: 10px;
  padding: 2rem;
}
.auth-wrap-right form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: scale(0.9);
}
.auth-wrap-right Button {
  width: 90%;
}
.auth-input-box{
  width: 100%;
  text-align: start;
}
.auth-input-box input {
  width: 100%;
  padding: 1rem;
}
.login-options-menu {
  list-style: none;
  display: flex;
  gap: 0.9rem;
  padding: 0;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
}
.login-options-menu li {
  display: flex;
  align-items: center ;
  font-size: 14px;
}
.login-options-menu li:hover {
  text-decoration: underline;
}
.point-b {
  border: 1px solid rgb(87, 87, 219);
  padding: 0.8rem   1rem;
  border-radius: 1rem;
}

.point-b:hover {
  transition: 0.5s;
  cursor: pointer;
  background: rgb(87, 87, 219);
}
.red-text {
    color: red;
}
.join-btn-wrap {
  height: 100%;
  align-items: flex-end;
  padding: 1rem; 
  }
#join-btn {
    margin: 0;
    border: 1px solid rgb(87, 87, 219);
    width: 5rem;
}
.join-footer {
    display: flex;
    justify-content: flex-end;
}
.loading-text::after {
  content: "";
  animation: dots 1.2s steps(3, end) infinite;
}



/* .join-form-top {
    margin-top: 2rem;
} */



/* .flex-box {
  width: 100%;
  display: flex;
  justify-content: left;
} */


@keyframes dots { 
  0%   { content: ""; } 
  33%  { content: "."; }
  66%  { content: ".."; }
  100% { content: "..."; }
}
/* PC (기본) */
@media (min-width: 1024px) {}

/* 태블릿 */
@media (max-width: 1023px) {}

/* 모바일 */
@media (max-width: 768px) {


  .auth-wrap {
  /* width: 100%;
  height: 100dvh;
  min-height: unset;
  margin: 0 auto;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 3rem 1rem; */
   width: 100%;
    margin: 0;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    overflow: visible; 
}
.join-wrap {
  overflow: scroll;
}
.auth-wrap-left{
  margin: 0;
  justify-content: flex-end;
}
.auth-wrap-right{
  flex: 2;
  margin: 0;
  justify-content: left;
  padding: 0 1rem;
}
input {
  font-size: 16px;
}
.loading {
  padding: 2rem;
}
.loading-desc {
  font-size: 14px;
}

}