.link-page-wrap {
    padding: 1rem;
    border-radius: 10px;
    display: flex;
     box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
    overflow-y: auto;            
  overflow-x: hidden;  
  height: 35rem;               
}
.main-right {
    width: 15rem;
}
.link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
}
.link-list li{
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.add-link {
  display: flex;
  gap: 1rem;
}
.add-link ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add-link input {
  width: 20rem;
  padding : 1rem;
}