.loginForm {
  width: 50rem;
  height: 30rem;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.loginForm Button {
  margin-top: 2rem;
}
.login-form-left{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.login-form-right{
  margin-top: 4rem;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 2rem;
}
.login-form-right Button {
  width: 90%;
}
.login-input{
  width: 100%;
  text-align: start;
}
.login-input input {
  width: 100%;
  padding: 1rem;
}

.login-find-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
}

.login-find-menu li {
  display: flex;
  align-items: center ;
}
.joinForm input {
    padding: 0.5rem 1rem;
}

.point-text {
  border: 1px solid rgb(87, 87, 219);
  padding: 0.8rem   1rem;
  border-radius: 1rem;
}
.point-text:hover {
  transition: 0.5s;
  cursor: pointer;
  background: rgb(87, 87, 219);
}

.join-form-top {
    margin-top: 2rem;
}

.red-text {
    color: red;
}

#join-btn {
    margin: 0;
    border: 1px solid rgb(87, 87, 219);
    width: 5rem;
}
.join-footer {
    display: flex;
    justify-content: flex-end;
}