.main-page-wrap {
    padding: 1rem;
    border-radius: 10px;
    display: flex;
     box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
}
.main-right {
    width: 15rem;
}
.menu-list {
    display: flex;
}
.menu-list li{
    width: 20rem;
    height: 15rem;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.now-title {
    padding: 1rem;
}
.now-users li{
    padding: 0.2rem;
}
.bar{
    width: 1px;
    border: 1px ;
    background-color: gray;
    margin: 1rem;
}
.main-card-title { 
  width: 100%;
  background: #1e1e1e; 
  border-radius: 12px; 
  padding: 20px;              
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.12),
  0 10px 20px rgba(0, 0, 0, 0.08);
  
}
.main-card-content { 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform  : 0.2s ease, box-shadow 0.3s ease;
  
}
.main-card {
  width: 20rem;
  height: 15rem;
  background: #151515;
  border-radius: 14px;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
                0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.main-card:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow:
    0 8px 20px rgba(0,0,0,0.35),
    0 12px 40px rgba(0,0,0,0.25);
}
