/* 로그아웃 버튼 */
#logout-btn{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background: var(--option-btn);
    color: var(--white-text);
    align-items: center;
}
/*  뒤로가기 버튼  */
#backBtn {
    color: var(--white-text);
    background: var(--option-btn);
    display: flex;
}

.post-add-move-btn{
  color: var(--white-text);
  background: var(--option-btn);
}
/*  */
.flexBox{
  display: flex;
}
.flexJustfyRight {
  display: flex;
  justify-content: flex-end;
}

/* 다크모드 토글 버튼 */
.theme-btn {
  background: var(--option-btn);
}


/*  */
.flex-link-box {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
#github-link{
  color: #60a5fa;
  transition: color 0.2s ease;

}
#notion-link {
  color: #a78bfa;
  transition: color 0.2s ease;
}
#github-link:hover {
  color: #e5e7eb; /* 거의 흰색 */
}
#notion-link:hover {
  color: #e9d5ff;
}
.link-box a {
  width: 100%;
  padding: 2rem;  
  font-size: 1.2rem;
  text-decoration: none;
}
.link-box:hover {
  /* text-decoration: underline; */
  border: 1px solid white;
  border-radius: 10px ;
}


/*  */
.card-title { 
  width: 100%;
  background: var(--card-link-title); 
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  /* border-radius: 12px;  */
  padding: 20px;              
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.12),
             0 10px 20px rgba(0, 0, 0, 0.08);
  color: var(--white-text);
}

.card-content { 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform  : 0.2s ease, box-shadow 0.3s ease;
  flex-direction: column;
}
.card {
  width: 270px;
  height: 250px;
  background: #151515;
  border-radius: 9px;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
                0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow:
    0 8px 20px rgba(0,0,0,0.35),
    0 12px 40px rgba(0,0,0,0.25);
}

.empty-links{
  opacity: .7;
  padding: 3rem;
}



@media (max-width: 768px) {
  .flex-link-box {
  height: auto;
  }
  .link-box {
    height: auto;
  }
}