#logout-btn{
    /* margin-left: 50rem; */
    display: flex;
    justify-content: flex-end;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
#logout-btn:hover {
  border: none;
  transform: translateY(6px)  scaleX(1.1) scaleY(1.1);
}
#logout-btn:active {
  transform: translateY(6px);
}   
#logout-btn:focus {
    outline: none;
}
.flexBox{
  display: flex;
}
.flexJustfyRight {
  display: flex;
  justify-content: right;
}
#backBtn {
    display: flex;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
#backBtn:hover {
    border: none;
  transform: translateY(-6px) scaleY(1.05) scaleX(1.05); 
}
#backBtn:active {
  transform: translateY(6px);
}   
#backBtn:focus {
    outline: none;
}



.card-title { 
  width: 100%;
  background: #1e1e1e; 
  border-radius: 12px; 
  padding: 20px;              
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.12),
  0 10px 20px rgba(0, 0, 0, 0.08);
  
}
.card-content { 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform  : 0.2s ease, box-shadow 0.3s ease;
  flex-direction: column;
}
.card {
  /* width: 20rem; */
  width: 270px;
  height: 250px;
  /* height: 15rem; */
  background: #151515;
  border-radius: 14px;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
                0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow:
    0 8px 20px rgba(0,0,0,0.35),
    0 12px 40px rgba(0,0,0,0.25);
}
