#logout-btn{
    /* margin-left: 50rem; */
    display: flex;
    justify-content: flex-end;
    color: rgba(255,255,255,0.87);;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
#logout-btn:hover {
  border: none;
  transform: translateY(6px)  scaleX(1.1) scaleY(1.1);
}
#logout-btn:active {
  transform: translateY(6px);
}   
#logout-btn:focus {
    outline: none;
}

.flexBox{
  display: flex;
}
.flexJustfyRight {
  display: flex;
  justify-content: right;
}
#backBtn {
    color: rgba(255,255,255,0.87);;
    display: flex;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
#backBtn:hover {
    border: none;
  transform: translateY(-6px) scaleY(1.05) scaleX(1.05); 
}
#backBtn:active {
  transform: translateY(6px);
}   
#backBtn:focus {
    outline: none;
}

.flex-link-box {
  width: 100%;
  /* height: 100%;   */
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
#github-link{
  color: #60a5fa;
  transition: color 0.2s ease;

}
#notion-link {
  color: #a78bfa;
  transition: color 0.2s ease;

}

#github-link:hover {
  color: #e5e7eb; /* 거의 흰색 */
}
#notion-link:hover {
  color: #e9d5ff;
}
.link-box a {
  width: 100%;
  padding: 2rem;  
  font-size: 1.2rem;
  text-decoration: none;
}
.link-box:hover {
  /* text-decoration: underline; */
  border: 1px solid white;
  border-radius: 10px ;
}

.card-title { 
  width: 100%;
  background: #1e1e1e; 
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  /* border-radius: 12px;  */
  padding: 20px;              
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.12),
             0 10px 20px rgba(0, 0, 0, 0.08);
  color: rgba(255,255,255,0.87);
}

.card-title-w { 
  width: 100%;
  background: #725a5a;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  /* border-radius: 12px;  */
  padding: 20px;              
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.12),
             0 10px 20px rgba(0, 0, 0, 0.08);
  color: rgba(255,255,255,0.87);
}
.card-content { 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform  : 0.2s ease, box-shadow 0.3s ease;
  flex-direction: column;
}
.card {
  /* width: 20rem; */
  width: 270px;
  height: 250px;
  /* height: 15rem; */
  background: #151515;
  /* border-radius: 14px; */
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
                0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow:
    0 8px 20px rgba(0,0,0,0.35),
    0 12px 40px rgba(0,0,0,0.25);
}

.empty-links{
  opacity: .7;
  padding: 1rem;
}

.options-btn-w {
  background: #725a5a;
  /* border: 1px solid #504b33; */
}


@media (max-width: 768px) {
  .flex-link-box {
  height: auto;
  }
  .link-box {
    height: auto;
  }
}