.links-wrap {
  width: 100%;
}
              
/* .main-right {
    width: 15rem;
} */
.link-card-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
    padding-left: 1.8rem;
}
.link-card-ul li{
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.link-add-page-wrap {
    padding: 2rem;
    border-radius: 10px;
     display: flex;
     box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
}
.add-link {
  display: flex;
  gap: 1rem;
}
.add-link ul {
  display: flex;
  flex-direction: column;
}
.add-link input {
  width: 20rem;
  padding : 1rem;
}
.point-border {
  border: 3px solid rgb(32, 111, 107);
  border-radius: 12px;
}

@media (max-width: 768px) {
  .link-page-wrap {
    width: 100%;
  }
  .link-add-page-wrap {
    padding: 2rem 1rem;
  }

  .link-card-ul {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 1.5rem;
  }
  .link-card-ul li{
    height: auto;
} 
}