/* Links Page */
.link__wrap {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.link__card-ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 3rem;
    padding: 1.8rem;
    list-style: none;
}
.link__card-ul li{
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.flex-link-box {
  border-radius: 10px;
}
/* Links Add Page */
.link__add-wrap {
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
}
.link__add-card {
  display: flex;
  gap: 1rem;
}
.link__add-card ul {
  display: flex;
  flex-direction: column;
}
.link__add-card input {
  width: 20rem;
  padding : 1rem;
}
.card,
.point-border {
  width: 100%;
  height: 13rem; /* 필요하면 조절 */
}
.point-border {
  height: 100%;
  border: 3px solid var(--point-border);
  border-radius: 12px;
} 
.link__edit-btn {
  color: var(--white-text);
  background: var(--option-btn);
}
.link__add-ul {
  margin-bottom: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.link-box {
  position: relative;
  padding: 0;
}
.link-box a {
  display: block;
  width: 100%;
}
.custom-tooltip-link {
  position: absolute;
  left: -1.5rem;
  margin-bottom: 8px;
  background: #222;
  color: #fff;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 0.85rem;
  white-space: pre-line;
  z-index: 1000;
}
@media (max-width: 768px) {
  .link__wrap {
    width: 100%;
    
  }
  .link__add-wrap {
    padding: 2rem 1rem;
    justify-content: center;
  }

  .link__card-ul {
    /* display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 1.5rem; */
  }
  .link__card-ul li{
    height: auto;
} 
}