.link-page-wrap {
  width: 58rem;
  height: 30rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
     box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
    overflow-y: auto;            
  overflow-x: hidden;  
  height: 35rem;               
}
.main-right {
    width: 15rem;
}
.link-list {
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
}
.link-list li{
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.link-w {
  width: 100%;
}

.add-link {
  display: flex;
  gap: 1rem;
}
.add-link ul {
  display: flex;
  flex-direction: column;
}
.add-link input {
  width: 20rem;
  padding : 1rem;
}
.point-border {
  border: 3px solid rgb(32, 111, 107);
  border-radius: 10px;
}


.link-add-page-wrap {
    padding: 2rem;
    border-radius: 10px;
     display: flex;
     box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
}



@media (max-width: 768px) {
  .link-page-wrap {
    width: 100%;
  }
  .link-list {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 1.5rem;
  }
  .link-list li{
    height: auto;
} 
}