/* Links Page */
.link__wrap {
  width: 100%;
}

.link__card-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
    padding-left: 1.8rem;
    padding-bottom: 1.8rem;
}
.link__card-ul li{
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

/* Links Add Page */
.link__add-wrap {
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
}
.link__add-card {
  display: flex;
  gap: 1rem;
}
.link__add-card ul {
  display: flex;
  flex-direction: column;
}
.link__add-card input {
  width: 20rem;
  padding : 1rem;
}
.point-border {
  border: 3px solid var(--point-border);
  border-radius: 12px;
} 
.link__edit-btn {
  color: var(--white-text);
  background: var(--option-btn);
}
.link__add-ul {
  margin-bottom: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .link__wrap {
    width: 100%;
    
  }
  .link__add-wrap {
    padding: 2rem 1rem;
    justify-content: center;
  }

  .link__card-ul {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 1.5rem;
  }
  .link__card-ul li{
    height: auto;
} 
}