#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  list-style: none;
  
}
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.white {
  background: #725a5a;
}
@media (max-width: 768px) {
  #root {
    width: 100%;
    min-width: 0;       
    padding: 1rem;         
    margin: 0;
    /* overflow: hidden; */
  }

}
