:root {
  --bg: #ffffff;
  --text: #111111;
  --panel: #f4f4f5;
  --btn: #1a1a1a;
  /* --option-btn : #725a5a; */
  --option-btn : #423030b0;
  --white-text : rgba(255,255,255,0.87);
  --card-link-title : #1c160859;
  --point-border : #4FD1C5;
  --option-input : #9c8e8e93;
  --notice-bg : rgba(85, 78, 70, 0.426);

  background-color: var(--bg);
  color: var(--text);
}
html[data-theme="dark"]{
  --bg: #242424;
  --text: rgba(255,255,255,0.87);
  --panel: #151515;
  --btn: #1a1a1a;
  --option-btn: #1a1a1a;
  --card-link-title : #1e1e1e; 
  --point-border : rgb(32, 111, 107);
  --option-input : #817d7d84;
  --notice-bg : rgba(70, 130, 180, 0.18);


  color-scheme: dark;
}
/* 라이트 명시(선택) */
html[data-theme="light"]{
  color-scheme: light;
} 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

button {
  color : var(--text);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
