.my-page-wrap {
    width: 60rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
     box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
}
.my-page-wrap button {
    color :  rgba(255,255,255,0.87);
}
.my-info-list {
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.my-log {
    flex: 1;
}
.my-info-list li{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-page-wrap form {
    width: 80%;
    display: flex;
}
.my-page-wrap form ul{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.my-page-wrap form ul li{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.my-page-wrap form ul li span {
        padding-right: 1rem;

}
.my-page-wrap form ul li input{
    width: 12rem;
    border: none;
    border-radius: 10px;
    padding: 1rem
}
.mpw-w input{
    border: 1px solid #725a5a !important;
}

.red-green {
        padding-right: 3rem;
}


@media (max-width: 768px) {
  .my-page-wrap {
   max-width: 100%;
   height: auto;
   overflow: hidden;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
 .my-page-wrap form {
    flex-direction: column;
 }
 .my-page-wrap form ul li{
    flex-direction: column;
}
.my-page-wrap form ul li span{
    width: 12rem;
    text-align: start;
}
.red-green {
    padding-right: 1rem;
}
#my-page-edit-btn {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
}