
.layout-wrap {
    width: 60rem;
    height: 32rem;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
    overflow-y: auto;            
    overflow-x: hidden; 
}
.layout-wrap-post {
    width: 70vw;
    height: 85vh;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.35),
    0 8px 30px rgba(0, 0, 0, 0.25);
    /* overflow-y: auto;            
    overflow-x: hidden;  */
}
.layout-top-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.layout-options {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.layout-options-toggle {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    border-radius: 10px;
    padding: 0 1rem;
    /* border: 1px solid var(--panel); */
}

.layout-options button:focus {
    outline: none;
}
.layout-option-input-wrap {
    width: 80%;
    height: 80%;
    position: relative;
}
.layout-option-input {
    flex: 1;
    min-width: 0; 
    background: var(--option-input);
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-option-input input{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 1rem;
}   
.layout-option-submit {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background: none;
}
.layout-option-submit:focus {
    outline: none;
}
.layout-options-btn-default {
    display: flex;
}
.layout-options-btn {
    display: flex;
    background: var(--option-btn);
}
.layout__post--buttons {
    display: flex;
}
@media (max-width: 768px) {
  .layout-wrap {
      max-width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .layout-wrap-post {
        max-width: 100%;
        width: 100%;
        /* height: 100dvh; */
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .layout-options {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
    .layout-option-submit{
        background: var(--option-btn);
        color: var(--white-text);
    }
    
}